.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @base-color--7;

  border-bottom: 1px solid @base-color--90;
}

.catalog__list {
  .ul-unstyled();
  padding: 0 20px;
}


@media (min-width: @tablet-width) {

}


@media (min-width: @desktop-width) {

}

// border-bottom: 1px solid @base-color--90;
