.categories {
  box-sizing: border-box;
  .inner--mobile();

  width: 320px;
  margin-bottom: 13px;
}

@media (min-width: @tablet-width) {
  .categories {
    .inner--tablet();

    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    display: flex;
    flex-wrap: wrap;

    width: 1440px;
    padding: 0 110px;
  }
}

