.contacts {

}

.contacts__container {
  .inner--mobile();

  display: flex;
  justify-content: space-between;

  padding-top: 28px;
  padding-bottom: 24px;
}

.contacts__slogan {
  width: 50%;

  font-size: 16px;
  line-height: 20px;
  color: @base-color--7;

  text-transform: uppercase;
}

.contacts__text {
  width: 50%;
  margin: 0;

  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
