.page-footer {
  display: flex;
  flex-direction: column;

  background-color: @base-color--95;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @base-color--7;
  text-decoration: none;
  text-align: center;

  border-bottom: 1px solid @base-color--85;

  b {
    margin-right: 6px;
  }

  &:hover,
  &:focus {
    color: fade(@base-color--7, 80%);
  }

  &:active {
    color: fade(@base-color--7, 60%);
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-footer__social {

  padding-top: 22px;
  padding-bottom: 21px;

  border-bottom: 1px solid @base-color--85;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 22px;
  padding-bottom: 21px;
}

@media (min-width: @tablet-width) {

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 768px;
    padding: 0 30px;
    padding-top: 60px;
  }

  .page-footer__logo {
    width: 33%;
    padding: 0;

    text-align: left;
    border: 0;
  }

  .page-footer__social {
    width: 33%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    border: 0;
  }

  .page-footer__copyright {
    width: 33%;
    padding: 0;
    padding-top: 10px;
  }

}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 1440px;
    padding: 0 110px;
    padding-top: 60px;
  }

  .page-footer__social {
    width: 33%;
    margin-right: 23px;
    margin-left: 23px;
  }
}
