.selection {
  .inner--mobile();
  box-sizing: border-box;
  width: 320px;
}

.selection__title {
  .page-title--mobile();
}

.selection__text {
  width: 90%;
  margin: 0;
  margin-bottom: 38px;

  color: @black--13;

  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .selection {
    .inner--tablet();
    width: @tablet-width;
  }

  .selection__title {
    .page-title--tablet();
  }

  .selection__text {
    width: 50%;
    margin-bottom: 52px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .selection {
    width: @desktop-width;
    padding-right: 110px;
    padding-left: 70px;
  }

  .selection__title {
    .page-title--desktop();
  }

  .selection__text {
    width: 30%;
    margin-bottom: 68px;
  }
}
