.top-offer {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-top: 30px;

  background: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 0;

// layout only
  outline: 1px solid;
}

.top-offer__inner {
  .inner--mobile();
}

.top-offer__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 15px;

  font-size: 36px;
  color: @text-color--white;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.top-offer__slogan {
  margin: 0;
  padding: 0 15px;

  font-size: 14px;
  color: @text-color--white;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .top-offer {
    width: 768px;
    height: 868px;
    margin-bottom: 22px;
    padding-top: 30px;

    background: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top 0;
  }

  .top-offer__inner {
    .inner--tablet();
  }
}

@media (min-width: @desktop-width) {

}
