.ul-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.btn-colored (@link-color, @bg-color) {
  color: @link-color;
  background-color: @bg-color;

  &:hover,
  &:focus {
    background-color: saturate(darken(@bg-color, 4%), 3%);
  }

  &:active {
    color: fade(@link-color, 30%);
    background-color: saturate(darken(@bg-color, 4%), 3%);
  }
}

.inner--mobile {
  margin: 0 auto;
  padding: 0 20px;
}

.inner--tablet {
  margin: 0 auto;
  padding: 0 30px;
}

.page-title--mobile {
  .section-title--mobile();
  margin: 0;
  padding-top: 20px;
  padding-bottom: 23px;
}

.page-title--tablet {
  .section-title--tablet();
  padding-top: 64px;
  padding-bottom: 64px;
}

.page-title--desktop {
  padding-top: 80px;
  padding-left: 40px;
}

.section-title--mobile {
  font: inherit;
  font-size: 36px;
  color: @base-color--7;
  line-height: 60px;
}

.section-title--tablet {
  font-size: 60px;
  line-height: 60px;
}


// Генератор правил для ячейки
// Возвращает правила для ячейки.
//
// Принимает:
// @column:      1                     - ширина (кол-во колонок для этой ячейки)
// @columns:     @grid-columns;        - общее количество ячеек на 1 ряд
// @gutter:      @grid-gutter-width    - промежуток между ячейками
// @flex-grow:   0                     - индивидуальный flex-grow
// @flex-shrink: 0                     - индивидуальный flex-shrink

.col(@column; @columns: @grid-columns; @gutter: @grid-gutter-width; @flex-grow: 0; @flex-shrink: 0) {
  @width: ~"calc((100% / "@columns~" - ("@gutter~" / "@column~")) * "@column~")";
  flex: @flex-grow @flex-shrink @width;
  width: @width;

    & when not (@gutter = false) {
    margin-left: (@gutter / 2);
    margin-right: (@gutter / 2);
  }
}

.make-col(@column; @columns: @grid-columns; @gutter: @grid-gutter-width; @flex-grow: 0; @flex-shrink: 0) {
  .col(@column; @columns; @gutter; @flex-grow; @flex-shrink);
}
