@tablet-width:             768px;
@desktop-width:            1250px;
@mobile-width-only:        767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@bg-white:                 #ffffff;
@bg-grey--light:           #f2f2f2;
@bg-grey--dark:            #d9d9d9;


@text-size:                14px;
@line-height:              18px;
@text-color:               #444444;
@title-color:              #111111;
@text-color--white:        #ffffff;

@font:                     "Oswald", "Arial", sans-serif;

@green:                    #68b738;
@grey:                     #f2f2f2;
@white:                    #ffffff;

@link-color--white:        #ffffff;
@link-color--grey:         #444444;

