@tablet-width:             768px;
@desktop-width:            1440px;
@mobile-width-only:        768px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// @screen-md: 768px;
// @screen-lg: 1200px;
// пример
// @grid-columns:                4;
// @grid-gutter-width:           30px;

// @screen-xs:                   0;
// @column:      1;
// @screen-sm:                   480px;
// @screen-md:                   768px;
// @screen-lg:                   992px;
// @screen-xl:                   1200px;

@base-color:               #ffffff;
@base-color--95:           darken(@base-color, 5%);
@base-color--90:           darken(@base-color, 10%);
@base-color--85:           darken(@base-color, 15%);
@base-color--7:            darken(@base-color, 93%);

@border-color-grey:        darken(@base-color, 10%);


@text-size:                14px;
@line-height:              18px;
@text-color:               #444444;

@text-color--white:        #ffffff;

@font:                     "Oswald", "Arial", sans-serif;

@white:                    #ffffff;
@green:                    #68b738;
@grey:                     darken(@base-color, 5%);;
@black:                    #000000;
@black--13:                lighten(@black, 13%);

@link-color--white:        #ffffff;
@link-color--grey:         #444444;

